<form fxLayout="column" novalidate autocomplete="nope" (keydown.enter)="$event.preventDefault()">
  <mat-form-field>
    <mat-label>Descripción de la operación</mat-label>
    <input matInput type="text" formControlName="description" #characters maxLength="30" autocomplete="nope" placeholder="Pago de Préstamo o Crédito">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</form>
