$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-error: "\e900";
$icon-error_outline: "\e901";
$icon-warningreport_problem: "\e902";
$icon-add_alert: "\e903";
$icon-notification_important: "\e904";
$icon-album: "\e905";
$icon-av_timer: "\e906";
$icon-closed_caption: "\e907";
$icon-equalizer: "\e908";
$icon-explicit: "\e909";
$icon-fast_forward: "\e90a";
$icon-fast_rewind: "\e90b";
$icon-gamesgamepad: "\e90c";
$icon-hearing: "\e90d";
$icon-high_quality: "\e90e";
$icon-loopsync: "\e90f";
$icon-mic: "\e910";
$icon-mic_none: "\e911";
$icon-mic_off: "\e912";
$icon-moviemovie_creation: "\e913";
$icon-library_addqueueadd_to_photos: "\e914";
$icon-library_books: "\e915";
$icon-library_music: "\e916";
$icon-new_releases: "\e917";
$icon-not_interesteddo_not_disturb: "\e918";
$icon-pause: "\e919";
$icon-pause_circle_filled: "\e91a";
$icon-pause_circle_outline: "\e91b";
$icon-play_arrow: "\e91c";
$icon-play_circle_filled: "\e91d";
$icon-play_circle_outline: "\e91e";
$icon-playlist_add: "\e91f";
$icon-queue_music: "\e920";
$icon-radio: "\e921";
$icon-recent_actors: "\e922";
$icon-repeat: "\e923";
$icon-repeat_one: "\e924";
$icon-replay: "\e925";
$icon-shuffle: "\e926";
$icon-skip_next: "\e927";
$icon-skip_previous: "\e928";
$icon-snooze: "\e929";
$icon-stop: "\e92a";
$icon-subtitles: "\e92b";
$icon-surround_sound: "\e92c";
$icon-video_collection: "\e92d";
$icon-videocam: "\e92e";
$icon-videocam_off: "\e92f";
$icon-volume_down: "\e930";
$icon-volume_mute: "\e931";
$icon-volume_off: "\e932";
$icon-volume_up: "\e933";
$icon-web: "\e934";
$icon-hd: "\e935";
$icon-sort_by_alpha: "\e936";
$icon-airplay: "\e937";
$icon-forward_10: "\e938";
$icon-forward_30: "\e939";
$icon-forward_5: "\e93a";
$icon-replay_10: "\e93b";
$icon-replay_30: "\e93c";
$icon-replay_5: "\e93d";
$icon-add_to_queue: "\e93e";
$icon-fiber_dvr: "\e93f";
$icon-fiber_new: "\e940";
$icon-playlist_play: "\e941";
$icon-art_track: "\e942";
$icon-fiber_manual_record: "\e943";
$icon-fiber_smart_record: "\e944";
$icon-music_video: "\e945";
$icon-subscriptions: "\e946";
$icon-playlist_add_check: "\e947";
$icon-queue_play_next: "\e948";
$icon-remove_from_queue: "\e949";
$icon-slow_motion_video: "\e94a";
$icon-web_asset: "\e94b";
$icon-fiber_pin: "\e94c";
$icon-branding_watermark: "\e94d";
$icon-call_to_action: "\e94e";
$icon-featured_play_list: "\e94f";
$icon-featured_video: "\e950";
$icon-note: "\e951";
$icon-video_call: "\e952";
$icon-video_label: "\e953";
$icon-k: "\e954";
$icon-missed_video_call: "\e955";
$icon-control_camera: "\e956";
$icon-businessdomain: "\e957";
$icon-call: "\e958";
$icon-call_end: "\e959";
$icon-call_made: "\e95a";
$icon-call_mergemerge_type: "\e95b";
$icon-call_missed: "\e95c";
$icon-call_received: "\e95d";
$icon-call_split: "\e95e";
$icon-chat: "\e95f";
$icon-clear_all: "\e960";
$icon-comment: "\e961";
$icon-contacts: "\e962";
$icon-dialer_sip: "\e963";
$icon-dialpad: "\e964";
$icon-emailmailmarkunreadlocal_post_office: "\e965";
$icon-forumquestion_answer: "\e966";
$icon-import_export: "\e967";
$icon-invert_colors_off: "\e968";
$icon-live_help: "\e969";
$icon-location_off: "\e96a";
$icon-location_onplaceroom: "\e96b";
$icon-message: "\e96c";
$icon-chat_bubble: "\e96d";
$icon-chat_bubble_outline: "\e96e";
$icon-no_simsignal_cellular_no_sim: "\e96f";
$icon-phonelocal_phone: "\e970";
$icon-portable_wifi_off: "\e971";
$icon-contact_phone: "\e972";
$icon-contact_mail: "\e973";
$icon-ring_volume: "\e974";
$icon-speaker_phone: "\e975";
$icon-stay_current_landscapestay_primary_landscape: "\e976";
$icon-stay_current_portraitstay_primary_portraitsmartphone: "\e977";
$icon-swap_calls: "\e978";
$icon-textsmssms: "\e979";
$icon-voicemail: "\e97a";
$icon-vpn_key: "\e97b";
$icon-phonelink_erase: "\e97c";
$icon-phonelink_lock: "\e97d";
$icon-phonelink_ring: "\e97e";
$icon-phonelink_setup: "\e97f";
$icon-present_to_all: "\e980";
$icon-import_contacts: "\e981";
$icon-mail_outline: "\e982";
$icon-screen_share: "\e983";
$icon-stop_screen_share: "\e984";
$icon-call_missed_outgoing: "\e985";
$icon-rss_feed: "\e986";
$icon-alternate_email: "\e987";
$icon-mobile_screen_share: "\e988";
$icon-add_call: "\e989";
$icon-cancel_presentation: "\e98a";
$icon-pause_presentation: "\e98b";
$icon-unsubscribe: "\e98c";
$icon-cell_wifi: "\e98d";
$icon-sentiment_satisfied_alt: "\e98e";
$icon-list_alt: "\e98f";
$icon-domain_disabled: "\e990";
$icon-lightbulb: "\e991";
$icon-add: "\e992";
$icon-add_box: "\e993";
$icon-add_circle: "\e994";
$icon-add_circle_outlinecontrol_point: "\e995";
$icon-archive: "\e996";
$icon-backspace: "\e997";
$icon-block: "\e998";
$icon-clearclose: "\e999";
$icon-content_copy: "\e99a";
$icon-content_cut: "\e99b";
$icon-content_paste: "\e99c";
$icon-createmode_editedit: "\e99d";
$icon-drafts: "\e99e";
$icon-filter_list: "\e99f";
$icon-flagassistant_photo: "\e9a0";
$icon-forward: "\e9a1";
$icon-gesture: "\e9a2";
$icon-inbox: "\e9a3";
$icon-linkinsert_link: "\e9a4";
$icon-redo: "\e9a5";
$icon-remove: "\e9a6";
$icon-remove_circledo_not_disturb_on: "\e9a7";
$icon-remove_circle_outline: "\e9a8";
$icon-reply: "\e9a9";
$icon-reply_all: "\e9aa";
$icon-report: "\e9ab";
$icon-save: "\e9ac";
$icon-select_all: "\e9ad";
$icon-send: "\e9ae";
$icon-sort: "\e9af";
$icon-text_format: "\e9b0";
$icon-undo: "\e9b1";
$icon-font_download: "\e9b2";
$icon-move_to_inbox: "\e9b3";
$icon-unarchive: "\e9b4";
$icon-next_week: "\e9b5";
$icon-weekend: "\e9b6";
$icon-delete_sweep: "\e9b7";
$icon-low_priority: "\e9b8";
$icon-outlined_flag: "\e9b9";
$icon-link_off: "\e9ba";
$icon-report_off: "\e9bb";
$icon-save_alt: "\e9bc";
$icon-ballot: "\e9bd";
$icon-file_copy: "\e9be";
$icon-how_to_reg: "\e9bf";
$icon-how_to_vote: "\e9c0";
$icon-waves: "\e9c1";
$icon-where_to_vote: "\e9c2";
$icon-add_link: "\e9c3";
$icon-inventory: "\e9c4";
$icon-access_alarmalarm: "\e9c5";
$icon-access_alarms: "\e9c6";
$icon-access_timequery_builderschedule: "\e9c7";
$icon-add_alarmalarm_add: "\e9c8";
$icon-airplanemode_inactive: "\e9c9";
$icon-airplanemode_activeflightlocal_airport: "\e9ca";
$icon-battery_alert: "\e9cb";
$icon-battery_charging_full: "\e9cc";
$icon-battery_fullbattery_std: "\e9cd";
$icon-battery_unknown: "\e9ce";
$icon-bluetooth: "\e9cf";
$icon-bluetooth_connected: "\e9d0";
$icon-bluetooth_disabled: "\e9d1";
$icon-bluetooth_searchingbluetooth_audio: "\e9d2";
$icon-brightness_auto: "\e9d3";
$icon-brightness_highbrightness_7: "\e9d4";
$icon-brightness_lowbrightness_5: "\e9d5";
$icon-brightness_mediumbrightness_6: "\e9d6";
$icon-data_usage: "\e9d7";
$icon-developer_mode: "\e9d8";
$icon-devicesphonelink: "\e9d9";
$icon-dvr: "\e9da";
$icon-gps_fixedmy_location: "\e9db";
$icon-gps_not_fixedlocation_searching: "\e9dc";
$icon-gps_offlocation_disabled: "\e9dd";
$icon-graphic_eq: "\e9de";
$icon-network_cell: "\e9df";
$icon-network_wifi: "\e9e0";
$icon-nfc: "\e9e1";
$icon-now_wallpaper: "\e9e2";
$icon-now_widgets: "\e9e3";
$icon-screen_lock_landscape: "\e9e4";
$icon-screen_lock_portrait: "\e9e5";
$icon-screen_lock_rotation: "\e9e6";
$icon-screen_rotation: "\e9e7";
$icon-sd_storagesd_card: "\e9e8";
$icon-settings_system_daydream: "\e9e9";
$icon-signal_cellular_4_bar: "\e9ea";
$icon-signal_cellular_connected_no_internet_4_bar: "\e9eb";
$icon-signal_cellular_null: "\e9ec";
$icon-signal_cellular_off: "\e9ed";
$icon-signal_wifi_4_bar: "\e9ee";
$icon-signal_wifi_4_bar_lock: "\e9ef";
$icon-signal_wifi_off: "\e9f0";
$icon-storage: "\e9f1";
$icon-usb: "\e9f2";
$icon-wifi_lock: "\e9f3";
$icon-wifi_tethering: "\e9f4";
$icon-add_to_home_screen: "\e9f5";
$icon-device_thermostat: "\e9f6";
$icon-mobile_friendly: "\e9f7";
$icon-mobile_off: "\e9f8";
$icon-signal_cellular_alt: "\e9f9";
$icon-attach_file: "\e9fa";
$icon-attach_money: "\e9fb";
$icon-border_all: "\e9fc";
$icon-border_bottom: "\e9fd";
$icon-border_clear: "\e9fe";
$icon-border_color: "\e9ff";
$icon-border_horizontal: "\ea00";
$icon-border_inner: "\ea01";
$icon-border_left: "\ea02";
$icon-border_outer: "\ea03";
$icon-border_right: "\ea04";
$icon-border_style: "\ea05";
$icon-border_top: "\ea06";
$icon-border_vertical: "\ea07";
$icon-format_align_center: "\ea08";
$icon-format_align_justify: "\ea09";
$icon-format_align_left: "\ea0a";
$icon-format_align_right: "\ea0b";
$icon-format_bold: "\ea0c";
$icon-format_clear: "\ea0d";
$icon-format_color_fill: "\ea0e";
$icon-format_color_reset: "\ea0f";
$icon-format_color_text: "\ea10";
$icon-format_indent_decrease: "\ea11";
$icon-format_indent_increase: "\ea12";
$icon-format_italic: "\ea13";
$icon-format_line_spacing: "\ea14";
$icon-format_list_bulleted: "\ea15";
$icon-format_list_numbered: "\ea16";
$icon-format_paint: "\ea17";
$icon-format_quote: "\ea18";
$icon-format_size: "\ea19";
$icon-format_strikethrough: "\ea1a";
$icon-format_textdirection_l_to_r: "\ea1b";
$icon-format_textdirection_r_to_l: "\ea1c";
$icon-format_underlined: "\ea1d";
$icon-functions: "\ea1e";
$icon-insert_chartpollassessment: "\ea1f";
$icon-insert_comment: "\ea20";
$icon-insert_drive_file: "\ea21";
$icon-insert_emoticontag_facesmood: "\ea22";
$icon-insert_invitationevent: "\ea23";
$icon-insert_photoimagephoto: "\ea24";
$icon-mode_comment: "\ea25";
$icon-publish: "\ea26";
$icon-space_bar: "\ea27";
$icon-strikethrough_s: "\ea28";
$icon-vertical_align_bottom: "\ea29";
$icon-vertical_align_center: "\ea2a";
$icon-vertical_align_top: "\ea2b";
$icon-wrap_text: "\ea2c";
$icon-money_off: "\ea2d";
$icon-drag_handle: "\ea2e";
$icon-format_shapes: "\ea2f";
$icon-highlight: "\ea30";
$icon-linear_scale: "\ea31";
$icon-short_text: "\ea32";
$icon-text_fields: "\ea33";
$icon-monetization_on: "\ea34";
$icon-title: "\ea35";
$icon-table_chart: "\ea36";
$icon-add_comment: "\ea37";
$icon-format_list_numbered_rtl: "\ea38";
$icon-scatter_plot: "\ea39";
$icon-score: "\ea3a";
$icon-insert_chart_outlined: "\ea3b";
$icon-bar_chart: "\ea3c";
$icon-notes: "\ea3d";
$icon-attachment: "\ea3e";
$icon-cloud: "\ea3f";
$icon-cloud_circle: "\ea40";
$icon-cloud_done: "\ea41";
$icon-cloud_download: "\ea42";
$icon-cloud_off: "\ea43";
$icon-cloud_queue: "\ea44";
$icon-cloud_uploadbackup: "\ea45";
$icon-file_downloadget_app: "\ea46";
$icon-file_upload: "\ea47";
$icon-folder: "\ea48";
$icon-folder_open: "\ea49";
$icon-folder_shared: "\ea4a";
$icon-create_new_folder: "\ea4b";
$icon-cast: "\ea4c";
$icon-cast_connected: "\ea4d";
$icon-computerlaptop: "\ea4e";
$icon-desktop_mac: "\ea4f";
$icon-desktop_windows: "\ea50";
$icon-developer_board: "\ea51";
$icon-dock: "\ea52";
$icon-headset: "\ea53";
$icon-headset_mic: "\ea54";
$icon-keyboard: "\ea55";
$icon-keyboard_arrow_down: "\ea56";
$icon-keyboard_arrow_left: "\ea57";
$icon-keyboard_arrow_right: "\ea58";
$icon-keyboard_arrow_up: "\ea59";
$icon-keyboard_backspace: "\ea5a";
$icon-keyboard_capslock: "\ea5b";
$icon-keyboard_hide: "\ea5c";
$icon-keyboard_return: "\ea5d";
$icon-keyboard_tab: "\ea5e";
$icon-keyboard_voice: "\ea5f";
$icon-laptop_chromebook: "\ea60";
$icon-laptop_mac: "\ea61";
$icon-laptop_windows: "\ea62";
$icon-memory: "\ea63";
$icon-mouse: "\ea64";
$icon-phone_android: "\ea65";
$icon-phone_iphone: "\ea66";
$icon-phonelink_off: "\ea67";
$icon-router: "\ea68";
$icon-scanner: "\ea69";
$icon-security: "\ea6a";
$icon-sim_card: "\ea6b";
$icon-speaker: "\ea6c";
$icon-speaker_group: "\ea6d";
$icon-tablet: "\ea6e";
$icon-tablet_android: "\ea6f";
$icon-tablet_mac: "\ea70";
$icon-toys: "\ea71";
$icon-tv: "\ea72";
$icon-watch: "\ea73";
$icon-device_hub: "\ea74";
$icon-power_input: "\ea75";
$icon-devices_other: "\ea76";
$icon-videogame_asset: "\ea77";
$icon-device_unknown: "\ea78";
$icon-headset_off: "\ea79";
$icon-adjust: "\ea7a";
$icon-assistant: "\ea7b";
$icon-audiotrack: "\ea7c";
$icon-blur_circular: "\ea7d";
$icon-blur_linear: "\ea7e";
$icon-blur_off: "\ea7f";
$icon-blur_on: "\ea80";
$icon-brightness_1: "\ea81";
$icon-brightness_2: "\ea82";
$icon-brightness_3: "\ea83";
$icon-brightness_4: "\ea84";
$icon-broken_image: "\ea85";
$icon-brush: "\ea86";
$icon-camera: "\ea87";
$icon-camera_altphoto_cameralocal_see: "\ea88";
$icon-camera_front: "\ea89";
$icon-camera_rear: "\ea8a";
$icon-camera_roll: "\ea8b";
$icon-center_focus_strong: "\ea8c";
$icon-center_focus_weak: "\ea8d";
$icon-collectionsphoto_library: "\ea8e";
$icon-color_lenspalette: "\ea8f";
$icon-colorize: "\ea90";
$icon-compare: "\ea91";
$icon-control_point_duplicate: "\ea92";
$icon-crop_16_9: "\ea93";
$icon-crop_3_2: "\ea94";
$icon-crop: "\ea95";
$icon-crop_5_4crop_landscape: "\ea96";
$icon-crop_7_5: "\ea97";
$icon-crop_din: "\ea98";
$icon-crop_free: "\ea99";
$icon-crop_original: "\ea9a";
$icon-crop_portrait: "\ea9b";
$icon-crop_square: "\ea9c";
$icon-dehaze: "\ea9d";
$icon-details: "\ea9e";
$icon-exposure: "\ea9f";
$icon-exposure_minus_1: "\eaa0";
$icon-exposure_minus_2: "\eaa1";
$icon-exposure_plus_1: "\eaa2";
$icon-exposure_plus_2: "\eaa3";
$icon-exposure_zero: "\eaa4";
$icon-filter_1: "\eaa5";
$icon-filter_2: "\eaa6";
$icon-filter_3: "\eaa7";
$icon-filter: "\eaa8";
$icon-filter_4: "\eaa9";
$icon-filter_5: "\eaaa";
$icon-filter_6: "\eaab";
$icon-filter_7: "\eaac";
$icon-filter_8: "\eaad";
$icon-filter_9: "\eaae";
$icon-filter_9_plus: "\eaaf";
$icon-filter_b_and_w: "\eab0";
$icon-filter_center_focus: "\eab1";
$icon-filter_drama: "\eab2";
$icon-filter_frames: "\eab3";
$icon-filter_hdrlandscapeterrain: "\eab4";
$icon-filter_none: "\eab5";
$icon-filter_tilt_shift: "\eab6";
$icon-filter_vintage: "\eab7";
$icon-flare: "\eab8";
$icon-flash_auto: "\eab9";
$icon-flash_off: "\eaba";
$icon-flash_on: "\eabb";
$icon-flip: "\eabc";
$icon-gradient: "\eabd";
$icon-grain: "\eabe";
$icon-grid_off: "\eabf";
$icon-grid_on: "\eac0";
$icon-hdr_off: "\eac1";
$icon-hdr_on: "\eac2";
$icon-hdr_strong: "\eac3";
$icon-hdr_weak: "\eac4";
$icon-healing: "\eac5";
$icon-image_aspect_ratio: "\eac6";
$icon-iso: "\eac7";
$icon-leak_add: "\eac8";
$icon-leak_remove: "\eac9";
$icon-lens: "\eaca";
$icon-looks_3: "\eacb";
$icon-looks: "\eacc";
$icon-looks_4: "\eacd";
$icon-looks_5: "\eace";
$icon-looks_6: "\eacf";
$icon-looks_one: "\ead0";
$icon-looks_two: "\ead1";
$icon-loupe: "\ead2";
$icon-monochrome_photos: "\ead3";
$icon-music_note: "\ead4";
$icon-nature: "\ead5";
$icon-nature_people: "\ead6";
$icon-navigate_beforechevron_left: "\ead7";
$icon-navigate_nextchevron_right: "\ead8";
$icon-panorama: "\ead9";
$icon-panorama_fish_eyeradio_button_unchecked: "\eada";
$icon-panorama_horizontal: "\eadb";
$icon-panorama_vertical: "\eadc";
$icon-panorama_wide_angle: "\eadd";
$icon-photo_album: "\eade";
$icon-picture_as_pdf: "\eadf";
$icon-portrait: "\eae0";
$icon-remove_red_eyevisibility: "\eae1";
$icon-rotate_90_degrees_ccw: "\eae2";
$icon-rotate_left: "\eae3";
$icon-rotate_right: "\eae4";
$icon-slideshow: "\eae5";
$icon-straighten: "\eae6";
$icon-style: "\eae7";
$icon-switch_camera: "\eae8";
$icon-switch_video: "\eae9";
$icon-texture: "\eaea";
$icon-timelapse: "\eaeb";
$icon-timer_10: "\eaec";
$icon-timer_3: "\eaed";
$icon-timer: "\eaee";
$icon-timer_off: "\eaef";
$icon-tonality: "\eaf0";
$icon-transform: "\eaf1";
$icon-tune: "\eaf2";
$icon-view_comfortable: "\eaf3";
$icon-view_compact: "\eaf4";
$icon-wb_auto: "\eaf5";
$icon-wb_cloudy: "\eaf6";
$icon-wb_incandescent: "\eaf7";
$icon-wb_sunny: "\eaf8";
$icon-collections_bookmark: "\eaf9";
$icon-photo_size_select_actual: "\eafa";
$icon-photo_size_select_large: "\eafb";
$icon-photo_size_select_small: "\eafc";
$icon-vignette: "\eafd";
$icon-wb_iridescent: "\eafe";
$icon-crop_rotate: "\eaff";
$icon-linked_camera: "\eb00";
$icon-add_a_photo: "\eb01";
$icon-movie_filter: "\eb02";
$icon-photo_filter: "\eb03";
$icon-burst_mode: "\eb04";
$icon-shutter_speed: "\eb05";
$icon-add_photo_alternate: "\eb06";
$icon-image_search: "\eb07";
$icon-music_off: "\eb08";
$icon-beenhere: "\eb09";
$icon-directions: "\eb0a";
$icon-directions_bike: "\eb0b";
$icon-directions_bus: "\eb0c";
$icon-directions_car: "\eb0d";
$icon-directions_ferry: "\eb0e";
$icon-directions_subwaydirections_transit: "\eb0f";
$icon-directions_railway: "\eb10";
$icon-directions_walk: "\eb11";
$icon-hotellocal_hotel: "\eb12";
$icon-layers: "\eb13";
$icon-layers_clear: "\eb14";
$icon-local_atm: "\eb15";
$icon-local_attractionlocal_play: "\eb16";
$icon-local_bar: "\eb17";
$icon-local_cafefree_breakfast: "\eb18";
$icon-local_car_wash: "\eb19";
$icon-local_convenience_store: "\eb1a";
$icon-local_drink: "\eb1b";
$icon-local_florist: "\eb1c";
$icon-local_gas_station: "\eb1d";
$icon-local_grocery_storeshopping_cart: "\eb1e";
$icon-local_hospital: "\eb1f";
$icon-local_laundry_service: "\eb20";
$icon-local_library: "\eb21";
$icon-local_mall: "\eb22";
$icon-local_moviestheaters: "\eb23";
$icon-local_offer: "\eb24";
$icon-local_parking: "\eb25";
$icon-local_pharmacy: "\eb26";
$icon-local_pizza: "\eb27";
$icon-local_print_shopprint: "\eb28";
$icon-local_restaurantrestaurant_menu: "\eb29";
$icon-local_shipping: "\eb2a";
$icon-local_taxi: "\eb2b";
$icon-location_history: "\eb2c";
$icon-map: "\eb2d";
$icon-navigation: "\eb2e";
$icon-pin_drop: "\eb2f";
$icon-rate_review: "\eb30";
$icon-satellite: "\eb31";
$icon-store_mall_directorystore: "\eb32";
$icon-traffic: "\eb33";
$icon-directions_run: "\eb34";
$icon-add_location: "\eb35";
$icon-edit_location: "\eb36";
$icon-near_me: "\eb37";
$icon-person_pin_circle: "\eb38";
$icon-zoom_out_map: "\eb39";
$icon-restaurant: "\eb3a";
$icon-ev_station: "\eb3b";
$icon-streetview: "\eb3c";
$icon-subway: "\eb3d";
$icon-train: "\eb3e";
$icon-tram: "\eb3f";
$icon-transfer_within_a_station: "\eb40";
$icon-atm: "\eb41";
$icon-category: "\eb42";
$icon-not_listed_location: "\eb43";
$icon-departure_board: "\eb44";
$icon-untitled: "\eb45";
$icon-edit_attributes: "\eb46";
$icon-transit_enterexit: "\eb47";
$icon-fastfood: "\eb48";
$icon-trip_origin: "\eb49";
$icon-compass_calibration: "\eb4a";
$icon-money: "\eb4b";
$icon-apps: "\eb4c";
$icon-arrow_back: "\eb4d";
$icon-arrow_drop_down: "\eb4e";
$icon-arrow_drop_down_circle: "\eb4f";
$icon-arrow_drop_up: "\eb50";
$icon-arrow_forward: "\eb51";
$icon-cancel: "\eb52";
$icon-check: "\eb53";
$icon-expand_less: "\eb54";
$icon-expand_more: "\eb55";
$icon-fullscreen: "\eb56";
$icon-fullscreen_exit: "\eb57";
$icon-menu: "\eb58";
$icon-keyboard_control: "\eb59";
$icon-more_vert: "\eb5a";
$icon-refresh: "\eb5b";
$icon-unfold_less: "\eb5c";
$icon-unfold_more: "\eb5d";
$icon-arrow_upward: "\eb5e";
$icon-subdirectory_arrow_left: "\eb5f";
$icon-subdirectory_arrow_right: "\eb60";
$icon-arrow_downward: "\eb61";
$icon-first_page: "\eb62";
$icon-last_page: "\eb63";
$icon-arrow_left: "\eb64";
$icon-arrow_right: "\eb65";
$icon-arrow_back_ios: "\eb66";
$icon-arrow_forward_ios: "\eb67";
$icon-adb: "\eb68";
$icon-disc_full: "\eb69";
$icon-do_not_disturb_alt: "\eb6a";
$icon-drive_etatime_to_leave: "\eb6b";
$icon-event_available: "\eb6c";
$icon-event_busy: "\eb6d";
$icon-event_note: "\eb6e";
$icon-folder_special: "\eb6f";
$icon-mms: "\eb70";
$icon-more: "\eb71";
$icon-network_locked: "\eb72";
$icon-phone_bluetooth_speaker: "\eb73";
$icon-phone_forwarded: "\eb74";
$icon-phone_in_talk: "\eb75";
$icon-phone_locked: "\eb76";
$icon-phone_missed: "\eb77";
$icon-phone_paused: "\eb78";
$icon-sim_card_alert: "\eb79";
$icon-sms_failedfeedback: "\eb7a";
$icon-sync_disabled: "\eb7b";
$icon-sync_problem: "\eb7c";
$icon-system_update: "\eb7d";
$icon-tap_and_play: "\eb7e";
$icon-vibration: "\eb7f";
$icon-voice_chat: "\eb80";
$icon-vpn_lock: "\eb81";
$icon-airline_seat_flat: "\eb82";
$icon-airline_seat_flat_angled: "\eb83";
$icon-airline_seat_individual_suite: "\eb84";
$icon-airline_seat_legroom_extra: "\eb85";
$icon-airline_seat_legroom_normal: "\eb86";
$icon-airline_seat_legroom_reduced: "\eb87";
$icon-airline_seat_recline_extra: "\eb88";
$icon-airline_seat_recline_normal: "\eb89";
$icon-confirmation_number: "\eb8a";
$icon-live_tv: "\eb8b";
$icon-ondemand_video: "\eb8c";
$icon-personal_video: "\eb8d";
$icon-power: "\eb8e";
$icon-wc: "\eb8f";
$icon-wifi: "\eb90";
$icon-enhanced_encryption: "\eb91";
$icon-network_check: "\eb92";
$icon-no_encryption: "\eb93";
$icon-rv_hookup: "\eb94";
$icon-do_not_disturb_off: "\eb95";
$icon-priority_high: "\eb96";
$icon-power_off: "\eb97";
$icon-tv_off: "\eb98";
$icon-wifi_off: "\eb99";
$icon-phone_callback: "\eb9a";
$icon-pie_chart: "\eb9b";
$icon-pie_chart_outlined: "\eb9c";
$icon-bubble_chart: "\eb9d";
$icon-multiline_chart: "\eb9e";
$icon-show_chart: "\eb9f";
$icon-cake: "\eba0";
$icon-grouppeople: "\eba1";
$icon-group_add: "\eba2";
$icon-location_city: "\eba3";
$icon-mood_bad: "\eba4";
$icon-notifications: "\eba5";
$icon-notifications_none: "\eba6";
$icon-notifications_off: "\eba7";
$icon-notifications_active: "\eba8";
$icon-notifications_paused: "\eba9";
$icon-pages: "\ebaa";
$icon-party_mode: "\ebab";
$icon-people_outline: "\ebac";
$icon-person: "\ebad";
$icon-person_add: "\ebae";
$icon-person_outlineperm_identity: "\ebaf";
$icon-plus_one: "\ebb0";
$icon-public: "\ebb1";
$icon-school: "\ebb2";
$icon-share: "\ebb3";
$icon-whatshot: "\ebb4";
$icon-sentiment_dissatisfied: "\ebb5";
$icon-sentiment_neutral: "\ebb6";
$icon-sentiment_satisfied: "\ebb7";
$icon-sentiment_very_dissatisfied: "\ebb8";
$icon-sentiment_very_satisfied: "\ebb9";
$icon-thumb_down_alt: "\ebba";
$icon-thumb_up_alt: "\ebbb";
$icon-check_box: "\ebbc";
$icon-check_box_outline_blank: "\ebbd";
$icon-radio_button_checked: "\ebbe";
$icon-stargrade: "\ebbf";
$icon-star_half: "\ebc0";
$icon-star_outline: "\ebc1";
$icon-d_rotation: "\ebc2";
$icon-accessibility: "\ebc3";
$icon-account_balance: "\ebc4";
$icon-account_balance_wallet: "\ebc5";
$icon-account_box: "\ebc6";
$icon-account_circle: "\ebc7";
$icon-add_shopping_cart: "\ebc8";
$icon-alarm_off: "\ebc9";
$icon-alarm_on: "\ebca";
$icon-android: "\ebcb";
$icon-announcement: "\ebcc";
$icon-aspect_ratio: "\ebcd";
$icon-assignment: "\ebce";
$icon-assignment_ind: "\ebcf";
$icon-assignment_late: "\ebd0";
$icon-assignment_return: "\ebd1";
$icon-assignment_returned: "\ebd2";
$icon-assignment_turned_in: "\ebd3";
$icon-autorenew: "\ebd4";
$icon-bookclass: "\ebd5";
$icon-bookmarkturned_in: "\ebd6";
$icon-bookmark_outlineturned_in_not: "\ebd7";
$icon-bug_report: "\ebd8";
$icon-build: "\ebd9";
$icon-cached: "\ebda";
$icon-change_history: "\ebdb";
$icon-check_circle: "\ebdc";
$icon-chrome_reader_mode: "\ebdd";
$icon-code: "\ebde";
$icon-credit_cardpayment: "\ebdf";
$icon-dashboard: "\ebe0";
$icon-delete: "\ebe1";
$icon-description: "\ebe2";
$icon-dns: "\ebe3";
$icon-done: "\ebe4";
$icon-done_all: "\ebe5";
$icon-exit_to_app: "\ebe6";
$icon-explore: "\ebe7";
$icon-extension: "\ebe8";
$icon-face: "\ebe9";
$icon-favorite: "\ebea";
$icon-favorite_outline: "\ebeb";
$icon-find_in_page: "\ebec";
$icon-find_replace: "\ebed";
$icon-flip_to_back: "\ebee";
$icon-flip_to_front: "\ebef";
$icon-group_work: "\ebf0";
$icon-help: "\ebf1";
$icon-highlight_remove: "\ebf2";
$icon-historyrestore: "\ebf3";
$icon-home: "\ebf4";
$icon-hourglass_empty: "\ebf5";
$icon-hourglass_full: "\ebf6";
$icon-httpslock: "\ebf7";
$icon-info: "\ebf8";
$icon-info_outline: "\ebf9";
$icon-input: "\ebfa";
$icon-invert_colors_on: "\ebfb";
$icon-label: "\ebfc";
$icon-label_outline: "\ebfd";
$icon-language: "\ebfe";
$icon-launchopen_in_new: "\ebff";
$icon-list: "\ec00";
$icon-lock_open: "\ec01";
$icon-lock_outline: "\ec02";
$icon-loyalty: "\ec03";
$icon-markunread_mailbox: "\ec04";
$icon-note_add: "\ec05";
$icon-open_in_browser: "\ec06";
$icon-open_with: "\ec07";
$icon-pageview: "\ec08";
$icon-perm_camera_mic: "\ec09";
$icon-perm_contact_calendar: "\ec0a";
$icon-perm_data_setting: "\ec0b";
$icon-perm_device_information: "\ec0c";
$icon-perm_media: "\ec0d";
$icon-perm_phone_msg: "\ec0e";
$icon-perm_scan_wifi: "\ec0f";
$icon-picture_in_picture: "\ec10";
$icon-polymer: "\ec11";
$icon-power_settings_new: "\ec12";
$icon-receipt: "\ec13";
$icon-redeemcard_giftcard: "\ec14";
$icon-search: "\ec15";
$icon-settings: "\ec16";
$icon-settings_applications: "\ec17";
$icon-settings_backup_restore: "\ec18";
$icon-settings_bluetooth: "\ec19";
$icon-settings_cell: "\ec1a";
$icon-settings_brightness: "\ec1b";
$icon-settings_ethernet: "\ec1c";
$icon-settings_input_antenna: "\ec1d";
$icon-settings_input_componentsettings_input_composite: "\ec1e";
$icon-settings_input_hdmi: "\ec1f";
$icon-settings_input_svideo: "\ec20";
$icon-settings_overscan: "\ec21";
$icon-settings_phone: "\ec22";
$icon-settings_power: "\ec23";
$icon-settings_remote: "\ec24";
$icon-settings_voice: "\ec25";
$icon-shop: "\ec26";
$icon-shop_two: "\ec27";
$icon-shopping_basket: "\ec28";
$icon-speaker_notes: "\ec29";
$icon-spellcheck: "\ec2a";
$icon-stars: "\ec2b";
$icon-subject: "\ec2c";
$icon-supervisor_account: "\ec2d";
$icon-swap_horiz: "\ec2e";
$icon-swap_vert: "\ec2f";
$icon-swap_vertical_circle: "\ec30";
$icon-system_update_alt: "\ec31";
$icon-tab: "\ec32";
$icon-tab_unselected: "\ec33";
$icon-thumb_down: "\ec34";
$icon-thumb_up: "\ec35";
$icon-thumbs_up_down: "\ec36";
$icon-toc: "\ec37";
$icon-today: "\ec38";
$icon-toll: "\ec39";
$icon-track_changes: "\ec3a";
$icon-translate: "\ec3b";
$icon-trending_down: "\ec3c";
$icon-trending_neutral: "\ec3d";
$icon-trending_up: "\ec3e";
$icon-verified_user: "\ec3f";
$icon-view_agenda: "\ec40";
$icon-view_array: "\ec41";
$icon-view_carousel: "\ec42";
$icon-view_column: "\ec43";
$icon-view_day: "\ec44";
$icon-view_headline: "\ec45";
$icon-view_list: "\ec46";
$icon-view_module: "\ec47";
$icon-view_quilt: "\ec48";
$icon-view_stream: "\ec49";
$icon-view_week: "\ec4a";
$icon-visibility_off: "\ec4b";
$icon-card_membership: "\ec4c";
$icon-card_travel: "\ec4d";
$icon-work: "\ec4e";
$icon-youtube_searched_for: "\ec4f";
$icon-eject: "\ec50";
$icon-camera_enhance: "\ec51";
$icon-help_outline: "\ec52";
$icon-reorder: "\ec53";
$icon-zoom_in: "\ec54";
$icon-zoom_out: "\ec55";
$icon-http: "\ec56";
$icon-event_seat: "\ec57";
$icon-flight_land: "\ec58";
$icon-flight_takeoff: "\ec59";
$icon-play_for_work: "\ec5a";
$icon-gif: "\ec5b";
$icon-indeterminate_check_box: "\ec5c";
$icon-offline_pin: "\ec5d";
$icon-all_out: "\ec5e";
$icon-copyright: "\ec5f";
$icon-fingerprint: "\ec60";
$icon-gavel: "\ec61";
$icon-lightbulb_outline: "\ec62";
$icon-picture_in_picture_alt: "\ec63";
$icon-important_devices: "\ec64";
$icon-touch_app: "\ec65";
$icon-accessible: "\ec66";
$icon-compare_arrows: "\ec67";
$icon-date_range: "\ec68";
$icon-donut_large: "\ec69";
$icon-donut_small: "\ec6a";
$icon-line_style: "\ec6b";
$icon-line_weight: "\ec6c";
$icon-motorcycle: "\ec6d";
$icon-opacity: "\ec6e";
$icon-pets: "\ec6f";
$icon-pregnant_woman: "\ec70";
$icon-record_voice_over: "\ec71";
$icon-rounded_corner: "\ec72";
$icon-rowing: "\ec73";
$icon-timeline: "\ec74";
$icon-update: "\ec75";
$icon-watch_later: "\ec76";
$icon-pan_tool: "\ec77";
$icon-euro_symbol: "\ec78";
$icon-g_translate: "\ec79";
$icon-remove_shopping_cart: "\ec7a";
$icon-restore_page: "\ec7b";
$icon-speaker_notes_off: "\ec7c";
$icon-delete_forever: "\ec7d";
$icon-accessibility_new: "\ec7e";
$icon-check_circle_outline: "\ec7f";
$icon-delete_outline: "\ec80";
$icon-done_outline: "\ec81";
$icon-maximize: "\ec82";
$icon-minimize: "\ec83";
$icon-offline_bolt: "\ec84";
$icon-swap_horizontal_circle: "\ec85";
$icon-accessible_forward: "\ec86";
$icon-calendar_today: "\ec87";
$icon-calendar_view_day: "\ec88";
$icon-label_important: "\ec89";
$icon-restore_from_trash: "\ec8a";
$icon-supervised_user_circle: "\ec8b";
$icon-text_rotate_up: "\ec8c";
$icon-text_rotate_vertical: "\ec8d";
$icon-text_rotation_angledown: "\ec8e";
$icon-text_rotation_angleup: "\ec8f";
$icon-text_rotation_down: "\ec90";
$icon-text_rotation_none: "\ec91";
$icon-commute: "\ec92";
$icon-arrow_right_alt: "\ec93";
$icon-work_off: "\ec94";
$icon-work_outline: "\ec95";
$icon-drag_indicator: "\ec96";
$icon-horizontal_split: "\ec97";
$icon-label_important_outline: "\ec98";
$icon-vertical_split: "\ec99";
$icon-voice_over_off: "\ec9a";
$icon-segment: "\ec9b";
$icon-contact_support: "\ec9c";
$icon-compress: "\ec9d";
$icon-filter_list_alt: "\ec9e";
$icon-expand: "\ec9f";
$icon-edit_off: "\eca0";
$icon-k1: "\eca1";
$icon-mp: "\eca2";
$icon-mp1: "\eca3";
$icon-mp2: "\eca4";
$icon-mp3: "\eca5";
$icon-mp4: "\eca6";
$icon-mp5: "\eca7";
$icon-mp6: "\eca8";
$icon-mp7: "\eca9";
$icon-mp8: "\ecaa";
$icon-mp9: "\ecab";
$icon-k2: "\ecac";
$icon-k_plus: "\ecad";
$icon-mp10: "\ecae";
$icon-mp11: "\ecaf";
$icon-mp12: "\ecb0";
$icon-mp13: "\ecb1";
$icon-mp14: "\ecb2";
$icon-k3: "\ecb3";
$icon-k_plus1: "\ecb4";
$icon-mp15: "\ecb5";
$icon-k4: "\ecb6";
$icon-k_plus2: "\ecb7";
$icon-mp16: "\ecb8";
$icon-k_plus3: "\ecb9";
$icon-mp17: "\ecba";
$icon-k5: "\ecbb";
$icon-k_plus4: "\ecbc";
$icon-mp18: "\ecbd";
$icon-k6: "\ecbe";
$icon-k_plus5: "\ecbf";
$icon-mp19: "\ecc0";
$icon-k7: "\ecc1";
$icon-k_plus6: "\ecc2";
$icon-mp20: "\ecc3";
$icon-k8: "\ecc4";
$icon-k_plus7: "\ecc5";
$icon-mp21: "\ecc6";
$icon-k9: "\ecc7";
$icon-k_plus8: "\ecc8";
$icon-mp22: "\ecc9";
$icon-account_tree: "\ecca";
$icon-add_chart: "\eccb";
$icon-add_ic_call: "\eccc";
$icon-add_moderator: "\eccd";
$icon-all_inbox: "\ecce";
$icon-approval: "\eccf";
$icon-assistant_direction: "\ecd0";
$icon-assistant_navigation: "\ecd1";
$icon-bookmarks: "\ecd2";
$icon-bus_alert: "\ecd3";
$icon-cases: "\ecd4";
$icon-circle_notifications: "\ecd5";
$icon-closed_caption_off: "\ecd6";
$icon-connected_tv: "\ecd7";
$icon-dangerous: "\ecd8";
$icon-dashboard_customize: "\ecd9";
$icon-desktop_access_disabled: "\ecda";
$icon-drive_file_move_outline: "\ecdb";
$icon-drive_file_rename_outline: "\ecdc";
$icon-drive_folder_upload: "\ecdd";
$icon-duo: "\ecde";
$icon-explore_off: "\ecdf";
$icon-file_download_done: "\ece0";
$icon-rtt: "\ece1";
$icon-grid_view: "\ece2";
$icon-hail: "\ece3";
$icon-home_filled: "\ece4";
$icon-imagesearch_roller: "\ece5";
$icon-label_off: "\ece6";
$icon-library_add_check: "\ece7";
$icon-logout: "\ece8";
$icon-margin: "\ece9";
$icon-mark_as_unread: "\ecea";
$icon-menu_open: "\eceb";
$icon-mp23: "\ecec";
$icon-offline_share: "\eced";
$icon-padding: "\ecee";
$icon-panorama_photosphere: "\ecef";
$icon-panorama_photosphere_select: "\ecf0";
$icon-person_add_disabled: "\ecf1";
$icon-phone_disabled: "\ecf2";
$icon-phone_enabled: "\ecf3";
$icon-pivot_table_chart: "\ecf4";
$icon-print_disabled: "\ecf5";
$icon-railway_alert: "\ecf6";
$icon-recommend: "\ecf7";
$icon-remove_done: "\ecf8";
$icon-remove_moderator: "\ecf9";
$icon-repeat_on: "\ecfa";
$icon-repeat_one_on: "\ecfb";
$icon-replay_circle_filled: "\ecfc";
$icon-reset_tv: "\ecfd";
$icon-sd: "\ecfe";
$icon-shield: "\ecff";
$icon-shuffle_on: "\ed00";
$icon-speed: "\ed01";
$icon-stacked_bar_chart: "\ed02";
$icon-stream: "\ed03";
$icon-swipe: "\ed04";
$icon-switch_account: "\ed05";
$icon-tag: "\ed06";
$icon-thumb_down_off_alt: "\ed07";
$icon-thumb_up_off_alt: "\ed08";
$icon-toggle_off: "\ed09";
$icon-toggle_on: "\ed0a";
$icon-two_wheeler: "\ed0b";
$icon-upload_file: "\ed0c";
$icon-view_in_ar: "\ed0d";
$icon-waterfall_chart: "\ed0e";
$icon-wb_shade: "\ed0f";
$icon-wb_twighlight: "\ed10";
$icon-home_work: "\ed11";
$icon-schedule_send: "\ed12";
$icon-bolt: "\ed13";
$icon-send_and_archive: "\ed14";
$icon-workspaces_filled: "\ed15";
$icon-file_present: "\ed16";
$icon-workspaces_outline: "\ed17";
$icon-fit_screen: "\ed18";
$icon-saved_search: "\ed19";
$icon-storefront: "\ed1a";
$icon-amp_stories: "\ed1b";
$icon-dynamic_feed: "\ed1c";
$icon-euro: "\ed1d";
$icon-height: "\ed1e";
$icon-policy: "\ed1f";
$icon-sync_alt: "\ed20";
$icon-menu_book: "\ed21";
$icon-emoji_flags: "\ed22";
$icon-emoji_food_beverage: "\ed23";
$icon-emoji_nature: "\ed24";
$icon-emoji_people: "\ed25";
$icon-emoji_symbols: "\ed26";
$icon-emoji_transportation: "\ed27";
$icon-post_add: "\ed28";
$icon-people_alt: "\ed29";
$icon-emoji_emotions: "\ed2a";
$icon-emoji_events: "\ed2b";
$icon-emoji_objects: "\ed2c";
$icon-sports_basketball: "\ed2d";
$icon-sports_cricket: "\ed2e";
$icon-sports_esports: "\ed2f";
$icon-sports_football: "\ed30";
$icon-sports_golf: "\ed31";
$icon-sports_hockey: "\ed32";
$icon-sports_mma: "\ed33";
$icon-sports_motorsports: "\ed34";
$icon-sports_rugby: "\ed35";
$icon-sports_soccer: "\ed36";
$icon-sports: "\ed37";
$icon-sports_volleyball: "\ed38";
$icon-sports_tennis: "\ed39";
$icon-sports_handball: "\ed3a";
$icon-sports_kabaddi: "\ed3b";
$icon-eco: "\ed3c";
$icon-museum: "\ed3d";
$icon-flip_camera_android: "\ed3e";
$icon-flip_camera_ios: "\ed3f";
$icon-cancel_schedule_send: "\ed40";
$icon-apartment: "\ed41";
$icon-bathtub: "\ed42";
$icon-deck: "\ed43";
$icon-fireplace: "\ed44";
$icon-house: "\ed45";
$icon-king_bed: "\ed46";
$icon-nights_stay: "\ed47";
$icon-outdoor_grill: "\ed48";
$icon-single_bed: "\ed49";
$icon-square_foot: "\ed4a";
$icon-double_arrow: "\ed4b";
$icon-sports_baseball: "\ed4c";
$icon-attractions: "\ed4d";
$icon-bakery_dining: "\ed4e";
$icon-breakfast_dining: "\ed4f";
$icon-car_rental: "\ed50";
$icon-car_repair: "\ed51";
$icon-dinner_dining: "\ed52";
$icon-dry_cleaning: "\ed53";
$icon-hardware: "\ed54";
$icon-liquor: "\ed55";
$icon-lunch_dining: "\ed56";
$icon-nightlife: "\ed57";
$icon-park: "\ed58";
$icon-ramen_dining: "\ed59";
$icon-celebration: "\ed5a";
$icon-theater_comedy: "\ed5b";
$icon-badge: "\ed5c";
$icon-festival: "\ed5d";
$icon-icecream: "\ed5e";
$icon-volunteer_activism: "\ed5f";
$icon-contactless: "\ed60";
$icon-delivery_dining: "\ed61";
$icon-brunch_dining: "\ed62";
$icon-takeout_dining: "\ed63";
$icon-ac_unit: "\ed64";
$icon-airport_shuttle: "\ed65";
$icon-all_inclusive: "\ed66";
$icon-beach_access: "\ed67";
$icon-business_center: "\ed68";
$icon-casino: "\ed69";
$icon-child_care: "\ed6a";
$icon-child_friendly: "\ed6b";
$icon-fitness_center: "\ed6c";
$icon-golf_course: "\ed6d";
$icon-hot_tub: "\ed6e";
$icon-kitchen: "\ed6f";
$icon-pool: "\ed70";
$icon-room_service: "\ed71";
$icon-smoke_free: "\ed72";
$icon-smoking_rooms: "\ed73";
$icon-spa: "\ed74";
$icon-no_meeting_room: "\ed75";
$icon-meeting_room: "\ed76";
$icon-goat: "\ed77";
$icon-home1: "\ed78";
$icon-home2: "\ed79";
$icon-home3: "\ed7a";
$icon-office: "\ed7b";
$icon-newspaper: "\ed7c";
$icon-pencil: "\ed7d";
$icon-pencil2: "\ed7e";
$icon-quill: "\ed7f";
$icon-pen: "\ed80";
$icon-blog: "\ed81";
$icon-eyedropper: "\ed82";
$icon-droplet: "\ed83";
$icon-paint-format: "\ed84";
$icon-image: "\ed85";
$icon-images: "\ed86";
$icon-camera1: "\ed87";
$icon-headphones: "\ed88";
$icon-music: "\ed89";
$icon-play: "\ed8a";
$icon-film: "\ed8b";
$icon-video-camera: "\ed8c";
$icon-dice: "\ed8d";
$icon-pacman: "\ed8e";
$icon-spades: "\ed8f";
$icon-clubs: "\ed90";
$icon-diamonds: "\ed91";
$icon-bullhorn: "\ed92";
$icon-connection: "\ed93";
$icon-podcast: "\ed94";
$icon-feed: "\ed95";
$icon-mic1: "\ed96";
$icon-book: "\ed97";
$icon-books: "\ed98";
$icon-library: "\ed99";
$icon-file-text: "\ed9a";
$icon-profile: "\ed9b";
$icon-file-empty: "\ed9c";
$icon-files-empty: "\ed9d";
$icon-file-text2: "\ed9e";
$icon-file-picture: "\ed9f";
$icon-file-music: "\eda0";
$icon-file-play: "\eda1";
$icon-file-video: "\eda2";
$icon-file-zip: "\eda3";
$icon-copy: "\eda4";
$icon-paste: "\eda5";
$icon-stack: "\eda6";
$icon-folder1: "\eda7";
$icon-folder-open: "\eda8";
$icon-folder-plus: "\eda9";
$icon-folder-minus: "\edaa";
$icon-folder-download: "\edab";
$icon-folder-upload: "\edac";
$icon-price-tag: "\edad";
$icon-price-tags: "\edae";
$icon-barcode: "\edaf";
$icon-qrcode: "\edb0";
$icon-ticket: "\edb1";
$icon-cart: "\edb2";
$icon-coin-dollar: "\edb3";
$icon-coin-euro: "\edb4";
$icon-coin-pound: "\edb5";
$icon-coin-yen: "\edb6";
$icon-credit-card: "\edb7";
$icon-calculator: "\edb8";
$icon-lifebuoy: "\edb9";
$icon-phone: "\edba";
$icon-phone-hang-up: "\edbb";
$icon-address-book: "\edbc";
$icon-envelop: "\edbd";
$icon-pushpin: "\edbe";
$icon-location: "\edbf";
$icon-location2: "\edc0";
$icon-compass: "\edc1";
$icon-compass2: "\edc2";
$icon-map1: "\edc3";
$icon-map2: "\edc4";
$icon-history: "\edc5";
$icon-clock: "\edc6";
$icon-clock2: "\edc7";
$icon-alarm: "\edc8";
$icon-bell: "\edc9";
$icon-stopwatch: "\edca";
$icon-calendar: "\edcb";
$icon-printer: "\edcc";
$icon-keyboard1: "\edcd";
$icon-display: "\edce";
$icon-laptop: "\edcf";
$icon-mobile: "\edd0";
$icon-mobile2: "\edd1";
$icon-tablet1: "\edd2";
$icon-tv1: "\edd3";
$icon-drawer: "\edd4";
$icon-drawer2: "\edd5";
$icon-box-add: "\edd6";
$icon-box-remove: "\edd7";
$icon-download: "\edd8";
$icon-upload: "\edd9";
$icon-floppy-disk: "\edda";
$icon-drive: "\eddb";
$icon-database: "\eddc";
$icon-undo1: "\eddd";
$icon-redo1: "\edde";
$icon-undo2: "\eddf";
$icon-redo2: "\ede0";
$icon-forward1: "\ede1";
$icon-reply1: "\ede2";
$icon-bubble: "\ede3";
$icon-bubbles: "\ede4";
$icon-bubbles2: "\ede5";
$icon-bubble2: "\ede6";
$icon-bubbles3: "\ede7";
$icon-bubbles4: "\ede8";
$icon-user: "\ede9";
$icon-users: "\edea";
$icon-user-plus: "\edeb";
$icon-user-minus: "\edec";
$icon-user-check: "\eded";
$icon-user-tie: "\edee";
$icon-quotes-left: "\edef";
$icon-quotes-right: "\edf0";
$icon-hour-glass: "\edf1";
$icon-spinner: "\edf2";
$icon-spinner2: "\edf3";
$icon-spinner3: "\edf4";
$icon-spinner4: "\edf5";
$icon-spinner5: "\edf6";
$icon-spinner6: "\edf7";
$icon-spinner7: "\edf8";
$icon-spinner8: "\edf9";
$icon-spinner9: "\edfa";
$icon-spinner10: "\edfb";
$icon-spinner11: "\edfc";
$icon-binoculars: "\edfd";
$icon-search1: "\edfe";
$icon-zoom-in: "\edff";
$icon-zoom-out: "\ee00";
$icon-enlarge: "\ee01";
$icon-shrink: "\ee02";
$icon-enlarge2: "\ee03";
$icon-shrink2: "\ee04";
$icon-key: "\ee05";
$icon-key2: "\ee06";
$icon-lock: "\ee07";
$icon-unlocked: "\ee08";
$icon-wrench: "\ee09";
$icon-equalizer1: "\ee0a";
$icon-equalizer2: "\ee0b";
$icon-cog: "\ee0c";
$icon-cogs: "\ee0d";
$icon-hammer: "\ee0e";
$icon-magic-wand: "\ee0f";
$icon-aid-kit: "\ee10";
$icon-bug: "\ee11";
$icon-pie-chart: "\ee12";
$icon-stats-dots: "\ee13";
$icon-stats-bars: "\ee14";
$icon-stats-bars2: "\ee15";
$icon-trophy: "\ee16";
$icon-gift: "\ee17";
$icon-glass: "\ee18";
$icon-glass2: "\ee19";
$icon-mug: "\ee1a";
$icon-spoon-knife: "\ee1b";
$icon-leaf: "\ee1c";
$icon-rocket: "\ee1d";
$icon-meter: "\ee1e";
$icon-meter2: "\ee1f";
$icon-hammer2: "\ee20";
$icon-fire: "\ee21";
$icon-lab: "\ee22";
$icon-magnet: "\ee23";
$icon-bin: "\ee24";
$icon-bin2: "\ee25";
$icon-briefcase: "\ee26";
$icon-airplane: "\ee27";
$icon-truck: "\ee28";
$icon-road: "\ee29";
$icon-accessibility1: "\ee2a";
$icon-target: "\ee2b";
$icon-shield1: "\ee2c";
$icon-power1: "\ee2d";
$icon-switch: "\ee2e";
$icon-power-cord: "\ee2f";
$icon-clipboard: "\ee30";
$icon-list-numbered: "\ee31";
$icon-list1: "\ee32";
$icon-list2: "\ee33";
$icon-tree: "\ee34";
$icon-menu1: "\ee35";
$icon-menu2: "\ee36";
$icon-menu3: "\ee37";
$icon-menu4: "\ee38";
$icon-cloud1: "\ee39";
$icon-cloud-download: "\ee3a";
$icon-cloud-upload: "\ee3b";
$icon-cloud-check: "\ee3c";
$icon-download2: "\ee3d";
$icon-upload2: "\ee3e";
$icon-download3: "\ee3f";
$icon-upload3: "\ee40";
$icon-sphere: "\ee41";
$icon-earth: "\ee42";
$icon-link: "\ee43";
$icon-flag: "\ee44";
$icon-attachment1: "\ee45";
$icon-eye: "\ee46";
$icon-eye-plus: "\ee47";
$icon-eye-minus: "\ee48";
$icon-eye-blocked: "\ee49";
$icon-bookmark: "\ee4a";
$icon-bookmarks1: "\ee4b";
$icon-sun: "\ee4c";
$icon-contrast: "\ee4d";
$icon-brightness-contrast: "\ee4e";
$icon-star-empty: "\ee4f";
$icon-star-half: "\ee50";
$icon-star-full: "\ee51";
$icon-heart: "\ee52";
$icon-heart-broken: "\ee53";
$icon-man: "\ee54";
$icon-woman: "\ee55";
$icon-man-woman: "\ee56";
$icon-happy: "\ee57";
$icon-happy2: "\ee58";
$icon-smile: "\ee59";
$icon-smile2: "\ee5a";
$icon-tongue: "\ee5b";
$icon-tongue2: "\ee5c";
$icon-sad: "\ee5d";
$icon-sad2: "\ee5e";
$icon-wink: "\ee5f";
$icon-wink2: "\ee60";
$icon-grin: "\ee61";
$icon-grin2: "\ee62";
$icon-cool: "\ee63";
$icon-cool2: "\ee64";
$icon-angry: "\ee65";
$icon-angry2: "\ee66";
$icon-evil: "\ee67";
$icon-evil2: "\ee68";
$icon-shocked: "\ee69";
$icon-shocked2: "\ee6a";
$icon-baffled: "\ee6b";
$icon-baffled2: "\ee6c";
$icon-confused: "\ee6d";
$icon-confused2: "\ee6e";
$icon-neutral: "\ee6f";
$icon-neutral2: "\ee70";
$icon-hipster: "\ee71";
$icon-hipster2: "\ee72";
$icon-wondering: "\ee73";
$icon-wondering2: "\ee74";
$icon-sleepy: "\ee75";
$icon-sleepy2: "\ee76";
$icon-frustrated: "\ee77";
$icon-frustrated2: "\ee78";
$icon-crying: "\ee79";
$icon-crying2: "\ee7a";
$icon-point-up: "\ee7b";
$icon-point-right: "\ee7c";
$icon-point-down: "\ee7d";
$icon-point-left: "\ee7e";
$icon-warning: "\ee7f";
$icon-notification: "\ee80";
$icon-question: "\ee81";
$icon-plus: "\ee82";
$icon-minus: "\ee83";
$icon-info1: "\ee84";
$icon-cancel-circle: "\ee85";
$icon-blocked: "\ee86";
$icon-cross: "\ee87";
$icon-checkmark: "\ee88";
$icon-checkmark2: "\ee89";
$icon-spell-check: "\ee8a";
$icon-enter: "\ee8b";
$icon-exit: "\ee8c";
$icon-play2: "\ee8d";
$icon-pause1: "\ee8e";
$icon-stop1: "\ee8f";
$icon-previous: "\ee90";
$icon-next: "\ee91";
$icon-backward: "\ee92";
$icon-forward2: "\ee93";
$icon-play3: "\ee94";
$icon-pause2: "\ee95";
$icon-stop2: "\ee96";
$icon-backward2: "\ee97";
$icon-forward3: "\ee98";
$icon-first: "\ee99";
$icon-last: "\ee9a";
$icon-previous2: "\ee9b";
$icon-next2: "\ee9c";
$icon-eject1: "\ee9d";
$icon-volume-high: "\ee9e";
$icon-volume-medium: "\ee9f";
$icon-volume-low: "\eea0";
$icon-volume-mute: "\eea1";
$icon-volume-mute2: "\eea2";
$icon-volume-increase: "\eea3";
$icon-volume-decrease: "\eea4";
$icon-loop: "\eea5";
$icon-loop2: "\eea6";
$icon-infinite: "\eea7";
$icon-shuffle1: "\eea8";
$icon-arrow-up-left: "\eea9";
$icon-arrow-up: "\eeaa";
$icon-arrow-up-right: "\eeab";
$icon-arrow-right: "\eeac";
$icon-arrow-down-right: "\eead";
$icon-arrow-down: "\eeae";
$icon-arrow-down-left: "\eeaf";
$icon-arrow-left: "\eeb0";
$icon-arrow-up-left2: "\eeb1";
$icon-arrow-up2: "\eeb2";
$icon-arrow-up-right2: "\eeb3";
$icon-arrow-right2: "\eeb4";
$icon-arrow-down-right2: "\eeb5";
$icon-arrow-down2: "\eeb6";
$icon-arrow-down-left2: "\eeb7";
$icon-arrow-left2: "\eeb8";
$icon-circle-up: "\eeb9";
$icon-circle-right: "\eeba";
$icon-circle-down: "\eebb";
$icon-circle-left: "\eebc";
$icon-tab1: "\eebd";
$icon-move-up: "\eebe";
$icon-move-down: "\eebf";
$icon-sort-alpha-asc: "\eec0";
$icon-sort-alpha-desc: "\eec1";
$icon-sort-numeric-asc: "\eec2";
$icon-sort-numberic-desc: "\eec3";
$icon-sort-amount-asc: "\eec4";
$icon-sort-amount-desc: "\eec5";
$icon-command: "\eec6";
$icon-shift: "\eec7";
$icon-ctrl: "\eec8";
$icon-opt: "\eec9";
$icon-checkbox-checked: "\eeca";
$icon-checkbox-unchecked: "\eecb";
$icon-radio-checked: "\eecc";
$icon-radio-checked2: "\eecd";
$icon-radio-unchecked: "\eece";
$icon-crop1: "\eecf";
$icon-make-group: "\eed0";
$icon-ungroup: "\eed1";
$icon-scissors: "\eed2";
$icon-filter1: "\eed3";
$icon-font: "\eed4";
$icon-ligature: "\eed5";
$icon-ligature2: "\eed6";
$icon-text-height: "\eed7";
$icon-text-width: "\eed8";
$icon-font-size: "\eed9";
$icon-bold: "\eeda";
$icon-underline: "\eedb";
$icon-italic: "\eedc";
$icon-strikethrough: "\eedd";
$icon-omega: "\eede";
$icon-sigma: "\eedf";
$icon-page-break: "\eee0";
$icon-superscript: "\eee1";
$icon-subscript: "\eee2";
$icon-superscript2: "\eee3";
$icon-subscript2: "\eee4";
$icon-text-color: "\eee5";
$icon-pagebreak: "\eee6";
$icon-clear-formatting: "\eee7";
$icon-table: "\eee8";
$icon-table2: "\eee9";
$icon-insert-template: "\eeea";
$icon-pilcrow: "\eeeb";
$icon-ltr: "\eeec";
$icon-rtl: "\eeed";
$icon-section: "\eeee";
$icon-paragraph-left: "\eeef";
$icon-paragraph-center: "\eef0";
$icon-paragraph-right: "\eef1";
$icon-paragraph-justify: "\eef2";
$icon-indent-increase: "\eef3";
$icon-indent-decrease: "\eef4";
$icon-share1: "\eef5";
$icon-new-tab: "\eef6";
$icon-embed: "\eef7";
$icon-embed2: "\eef8";
$icon-terminal: "\eef9";
$icon-share2: "\eefa";
$icon-mail: "\eefb";
$icon-mail2: "\eefc";
$icon-mail3: "\eefd";
$icon-mail4: "\eefe";
$icon-amazon: "\eeff";
$icon-google: "\ef00";
$icon-google2: "\ef01";
$icon-google3: "\ef02";
$icon-google-plus: "\ef03";
$icon-google-plus2: "\ef04";
$icon-google-plus3: "\ef05";
$icon-hangouts: "\ef06";
$icon-google-drive: "\ef07";
$icon-facebook: "\ef08";
$icon-facebook2: "\ef09";
$icon-instagram: "\ef0a";
$icon-whatsapp: "\ef0b";
$icon-spotify: "\ef0c";
$icon-telegram: "\ef0d";
$icon-twitter: "\ef0e";
$icon-vine: "\ef0f";
$icon-vk: "\ef10";
$icon-renren: "\ef11";
$icon-sina-weibo: "\ef12";
$icon-rss: "\ef13";
$icon-rss2: "\ef14";
$icon-youtube: "\ef15";
$icon-youtube2: "\ef16";
$icon-twitch: "\ef17";
$icon-vimeo: "\ef18";
$icon-vimeo2: "\ef19";
$icon-lanyrd: "\ef1a";
$icon-flickr: "\ef1b";
$icon-flickr2: "\ef1c";
$icon-flickr3: "\ef1d";
$icon-flickr4: "\ef1e";
$icon-dribbble: "\ef1f";
$icon-behance: "\ef20";
$icon-behance2: "\ef21";
$icon-deviantart: "\ef22";
$icon-500px: "\ef23";
$icon-steam: "\ef24";
$icon-steam2: "\ef25";
$icon-dropbox: "\ef26";
$icon-onedrive: "\ef27";
$icon-github: "\ef28";
$icon-npm: "\ef29";
$icon-basecamp: "\ef2a";
$icon-trello: "\ef2b";
$icon-wordpress: "\ef2c";
$icon-joomla: "\ef2d";
$icon-ello: "\ef2e";
$icon-blogger: "\ef2f";
$icon-blogger2: "\ef30";
$icon-tumblr: "\ef31";
$icon-tumblr2: "\ef32";
$icon-yahoo: "\ef33";
$icon-yahoo2: "\ef34";
$icon-tux: "\ef35";
$icon-appleinc: "\ef36";
$icon-finder: "\ef37";
$icon-android1: "\ef38";
$icon-windows: "\ef39";
$icon-windows8: "\ef3a";
$icon-soundcloud: "\ef3b";
$icon-soundcloud2: "\ef3c";
$icon-skype: "\ef3d";
$icon-reddit: "\ef3e";
$icon-hackernews: "\ef3f";
$icon-wikipedia: "\ef40";
$icon-linkedin: "\ef41";
$icon-linkedin2: "\ef42";
$icon-lastfm: "\ef43";
$icon-lastfm2: "\ef44";
$icon-delicious: "\ef45";
$icon-stumbleupon: "\ef46";
$icon-stumbleupon2: "\ef47";
$icon-stackoverflow: "\ef48";
$icon-pinterest: "\ef49";
$icon-pinterest2: "\ef4a";
$icon-xing: "\ef4b";
$icon-xing2: "\ef4c";
$icon-flattr: "\ef4d";
$icon-foursquare: "\ef4e";
$icon-yelp: "\ef4f";
$icon-paypal: "\ef50";
$icon-chrome: "\ef51";
$icon-firefox: "\ef52";
$icon-IE: "\ef53";
$icon-edge: "\ef54";
$icon-safari: "\ef55";
$icon-opera: "\ef56";
$icon-file-pdf: "\ef57";
$icon-file-openoffice: "\ef58";
$icon-file-word: "\ef59";
$icon-file-excel: "\ef5a";
$icon-libreoffice: "\ef5b";
$icon-html-five: "\ef5c";
$icon-html-five2: "\ef5d";
$icon-css3: "\ef5e";
$icon-git: "\ef5f";
$icon-codepen: "\ef60";
$icon-svg: "\ef61";
$icon-IcoMoon: "\ef62";

